.pdfView {
    height: 258px;
    width: 200px;
}

.powerpoint-ppt {
  width: 200px;
  height: 258px;
  border: none;
}

body {
    font-style: Verdana;
  }
  
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  }
  section {
    overflow: auto;
    border-bottom: 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  title {
    color: rgb(106, 131, 33);
  }
  h2 {
    color: rgb(115, 7, 124);
  }
  
 
  h1 {
    color: rgb(93, 6, 243);
  }
  
  input {
    width: 60%;
    padding: 5px;
  }
  
  button {
    padding: 5px;
  }
  
  .searchResults {
    margin-top: 20px;
  }

  #map {
    height: 50vh;
    width: 50vw;
  }