.pdfView {
    height: 258px;
    width: 200px;
}

.powerpoint-ppt {
  width: 200px;
  height: 258px;
  border: none; /* equivalent to frameborder="0" */
}

body {
    font-style: Verdana;
  }
  
  img {
    width: 200px;
    float: right;
  }
  section {
    overflow: auto;
    border-bottom: 1px solid rgb(243, 6, 6);
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  title {
    color: rgb(106, 131, 33);
  }
  h2 {
    color: rgb(115, 7, 124);
  }
  
 
  h1 {
    color: rgb(93, 6, 243);
  }
  
  input {
    width: 60%;
    padding: 5px;
  }
  
  button {
    padding: 5px;
  }
  
  .searchResults {
    margin-top: 20px;
  }